.gridContainer{
    margin: 0 0 5rem 0;
    display: grid;
    padding: 0 6rem;
    grid-template-rows: 10rem auto 15rem auto;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        'title title'
        'image info'
        'image buttons'
        'description description';
}

/* Libro */
.containerImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: image;
    margin: 0 7rem 0 0;
}

.containerImage > img{
    height: 20rem;
}

.containerTitle{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-500);
    font-weight: 700;
}

.containerInfo{
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    font-family: var(--ff-family-secondary);
}

.containerInfo p span{
    color: var(--color-800);
    font-weight: 700;
    font-size: 1.2rem;
}

.containerDescription{
    grid-area: description;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--ff-family-secondary);
}

.containerDescription .descriptionSection{
    color: var(--color-800);
    border-bottom: var(--color-500) solid 3px;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

/* Pulsanti */
.containerButtons{
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.addToLib{
    cursor: pointer;
    width: 70%;
    height: 48px;
    background-color: var(--color-900);
    border: none;
    color: var(--color-100);
    border-radius: 5px;
    padding: 0.7rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToLib:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    background-color: var(--color-500);
}

.favourite{
    text-align: center;
    width: 48px;
    height: 48px;
    color: black;
    border: solid 1px black !important;
    border-radius: 5px;
    padding: 0.7rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favourite:hover{
    cursor: pointer;
    color: #ffffff;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.25);
}