.header{
    display: grid;
    background-color: var(--color-900);
    grid-template-columns: 30% 40% 30%;
    height: 50px;
}

/* Area riservata alla barra di ricerca */

.utility{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.searchBox{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100%;
    margin-left: 0.5rem;
}

#searchInput{
    width: 50%;
    height: 70%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0%);
    border: var(--color-100) solid 0.2rem;
    border-right: none;
    color: var(--color-100);
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0.5rem;
}

#selectionInput{
    height: 70%;
    padding: 0.2rem 0 0.2rem 0.2rem;
    border-radius: 10px 0 0 10px;
    border: none;
    font-weight: 500;
    font-size: medium;
}

.searchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 2.5rem;
    border-radius: 0px 10px 10px 0px;
    border: var(--color-100) solid 0.2rem;
    background-color: rgba(0, 0, 0, 0%);
}

.searchButton > span{
    color: var(--color-100);
    font-weight: 700;
    text-align: center;
}

#selectionInput:hover{
    cursor: pointer;
}

.searchButton:hover{
    cursor: pointer;
    background-color: var(--color-100-transparent);
    color: black;
}

/* Area riservata al logo */

.logoSection{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSection a{
    height: 100%;
    width: 100%;
}

#logo{
    background-image: url("../resources/img/bookster.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 85%;
    margin-top: 0.2rem;
}

/* Area riservata all'utente */
.bar{
    display: none !important;
}

.userArea{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 0.5rem;
    gap: 0.5rem;
}

.userSection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--color-100);
}

.userSection:hover .userName, .userSection:hover .user{
    cursor: pointer;
    color: var(--color-500);
}

.user, .cart, .bar{
    color: var(--color-100);
    font-size: 2.5rem !important;
}

.userName{
    font-size: 1.2rem;
}

.cart:hover, .bar:hover{
    cursor: pointer;
    color: var(--color-500);
}

.bar{
    display: none;
}

.userName{
    text-align: center;
    margin-right: 0.5rem;
}

.lecterCircle {
    display: none;
}

/* Barra di navigazione */

.navigationBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-500);
}

.navigationBar a {
    color: black;
}

.navigationBar a:hover {
    margin-left: 2%;
    margin-right: 2%;
}

/* -------------------- MEDIA QUERY -------------------- */
@media (max-width: 797px) {
}